@import "variables"; 
@import "mixins"; 

.footer {
    
    background-color: #e83556cf;

    .top-link {
        font-size: 1.25rem;
        position: fixed;
        bottom: 2rem;
        right: 3rem;
        background: #beeaec;
        width: 2rem;
        height: 3rem;
        display: -ms-grid;
        display: grid;
        place-items: center;
        border-radius: 11px;
        color: #dd5760;
        animation: bounce2 2s ease-in-out infinite;
      
        visibility: hidden;
        z-index: -100;
    }
    .show-link {
        visibility: visible;
        z-index: 100;
    }

    @keyframes bounce2 {
        0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.5);
        }
        100% {
        transform: scale(1);
        }
    }
    
    &__social{
        height: 240px;
        @include breakpoint-up (medium){
            padding-top: 25px;
            align-content: center;
            align-items: center;   
        }
        
    }

    &__img{
        @include breakpoint-down(small){
            padding-top:75px;

        }    
    }


    &__content{
        padding-left: 20px;
        padding-top:18px;
        h1 {
            font-size: 20px; 
            font-family: $footerFont;
            font-weight: bold;
            line-height: 29.7px;
            color: $beige;
        }
        h3{
            font-size: 14px; 
            font-family: $footerFont;
            font-weight: normal;
            line-height: 20.79px;
            color: $beige;
        }
    }

    &__credits {
        h3 {
            text-align: right;
            padding-right: 20px;
            padding-bottom: 20px;
            font-size: 9px; 
            font-family: $footerFont;
            font-weight: bold;
            line-height: 13.37px;
            color: $beige;
        }
    }
}