@import "variables"; 
@import "mixins"; 
.header{
    position: relative; 
    z-index: 0;
    background-color: #e83556cf;

    // Hamburger Open Styles
    &.open {

        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }
            
            > span:nth-child(2) {
                opacity: 0;
            }
            
            > span:last-child {
                transform: rotate(-45deg);
            }  
        }
    }

    .overlay {
        z-index: 2;
        opacity: 0;
        position: fixed;
        top: 100px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient(black, transparent);
    }

    &__projects {
        // background-color: #E83556;
        font-family: PT Serif;
        font-style: normal;
        font-weight: bold;
        color: $white;
        text-align: center; 

        font-size: 20px;
        line-height: 40px;
        padding-bottom: 71px;
        padding-top: 22px;

        h3 {
            font-size: 65px;
            color: #7e1629;
        }
        
        @include breakpoint-up(medium){
            font-size: 60px;
            line-height: 110px;
            padding-bottom: 60px;
        }      

    }

    &__container {
        
        // background-color: #e8355682;
        
        @include breakpoint-up(large){
            height: 179px;
        }
        @include breakpoint-down(large){
            height: 179px;
        }
        
        @include breakpoint-down(middle){
            height: 130px;
        }

    }

    &__name{
        
        h1{
            color: white;
            font-family: $nameFont;  
            

            @include breakpoint-down(medium){
                font-size: 2.375rem;//38px
                padding-left: 26px;
                padding-top: 30px;
                line-height: 30px;
            }

            @include breakpoint-up(middle){
                font-size: $font-xlrg;
                padding-left: 133px;
                padding-top: 37px;
                line-height: 43px;
            }

        }
    }
    &__position{
        h3{
            color: white;
            font-family: $positionFont;
            
            

            @include breakpoint-down(medium){
                font-size: 1rem; //16px
                padding-left: 26px;
                padding-top: 10px;
                line-height: 15px;
            }

            @include breakpoint-up(middle){
                font-size: $font-lrg;
                padding-left: 133px;
                padding-top: 34px;
                line-height: 15px;
            }
        }
        
    }

    &__toggle { // Mobile Menu Toggle

        position:relative;
        
        > span {
          display: block;
          width: 26px;
          height: 2px;
          background-color: white;
          transition: all 300ms ease-in-out;
          transform-origin: 3px 1px;
    
          &:not(:last-child){
            margin-bottom: 5px;
          }
        }
        
        @include breakpoint-down(large){
            padding-top: 50px;
            padding-right: 110px;

        }
        @include breakpoint-down(middle){
            padding-top: 38px;
            padding-right: 40px;
            
            
        }
    }
    
    &__menu {
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: 10rem;
        padding: 24px;
        border-radius: 5px;
      
        a {
          display: block;
          padding: 0.625rem;
          color: $black;
          text-align: center;
        }

        @include breakpoint-down(medium){
            width: calc(100% - 17rem);
        }

        @include breakpoint-down(middle){
            width: calc(100% - 5rem);
        }
    }

    &__image {
        z-index: 1;
        background-image: url('/images/myPhoto.svg');
        background-repeat: no-repeat;   
        filter: drop-shadow(-24px 24px 23px rgba(0, 0, 0, 0.25));
        background-size: 100%;
        width: 231.9px;
        height: 227.15px;
        margin: auto;     
        
        @include breakpoint-up(medium){
            width: 311.9px;
            height: 310.15px;
        }
    }

    &__text {
        

        h1 {
          
          font-family: $helloFont; 

            

            color: $white;
            padding-top: 19px;

            font-size: 61px;
            line-height: 60px;
            text-align: center;

        }

        h3 {
            font-family: $nameFont;  
            
            color: $white;
            padding-top: 33px;
            padding-bottom: 49px;

            font-size: 50px;
            line-height: 1px;
            letter-spacing: -0.04em;
            text-align: center;
            
            @include breakpoint-down(medium){
                font-size: 30px;
            }
        }

    }
    &__text2 {
        
        h1 {
          
          font-family: $helloFont; 

            color: #0F0D0DFA;
            padding-top: 177px;

            font-size: 62px;
            line-height: 60px;
            text-align: center;
        }

        h3 {
            font-family: $nameFont;  
            
            color: #0F0D0DFA;
            padding-top: 33px;
            padding-bottom: 49px;

            font-size: 50px;
            line-height: 1px;
            letter-spacing: -0.04em;
            text-align: center;
        }

    }

    &__links{
        // width: min-content;
        
        
        @include breakpoint-up(large){
            
            display: block;
            margin:auto;
            line-height: 25px;   
            padding-top: 0px;
            text-align: center;
            padding-bottom: 60px;
        }

        
        a {
            position: relative;
            font-family: $linkFont;
            font-size: $font-med;
            color: $black;
            transition: color 300ms ease-in-out;
            
            &:not(:last-child){
                @include breakpoint-up(large){
                    margin-right: 40px;
                }

            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -8px;
                background: linear-gradient(to right, $green, $blue);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
              }
              &:hover {
                color: $black;
                font-size:1.5rem;
                font-weight:bolder;
        
                &::before {
                  opacity: 1;
                }
              }
        }
    }

    
}
    
    
    
