.middle3 {
  padding: 133px;
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 60.9375em) {
  .middle3 {
    padding: 30px;
    padding-top: 0px;
  }
}

.middle3__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle3__icon img {
  margin-left: 20px;
}

.middle3__icon img:hover {
  width: 45px;
  height: auto;
}

.middle3__icon img:hover::before {
  opacity: 1;
}

.middle3__col1 {
  flex: 1;
  padding-right: 5px;
  margin-right: 20px;
}

@media (max-width: 63.9375em) {
  .middle3__col1 {
    margin-right: 0px;
  }
}

@media (min-width: 87.5em) {
  .middle3__col1 {
    margin-right: 176px;
  }
}

.middle3__col1 h3:hover {
  color: #000000;
  font-weight: bolder;
}

.middle3__col1 h3:hover::before {
  opacity: 1;
}

.middle3__col1 h3 {
  font-family: Sahitya;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 19px;
  line-height: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

@media (max-width: 63.9375em) {
  .middle3__col1 {
    padding-left: 5px;
  }
  .middle3__col1 h3 {
    text-align: center;
  }
}

@media (max-width: 60.9375em) {
  .middle3__col1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.middle3__col2 {
  flex: 1;
  padding-right: 5px;
}

.middle3__col2 h3:hover {
  color: #000000;
  font-weight: bolder;
}

.middle3__col2 h3:hover::before {
  opacity: 1;
}

.middle3__col2 h3 {
  font-family: Sahitya;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 19px;
  line-height: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

@media (max-width: 63.9375em) {
  .middle3__col2 {
    padding-left: 5px;
  }
  .middle3__col2 h3 {
    text-align: center;
  }
}

@media (max-width: 63.9375em) {
  .middle3__col2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
  }
}

.middle3__col4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.middle3__col4 h3:hover {
  color: #000000;
  font-weight: bolder;
}

.middle3__col4 h3:hover::before {
  opacity: 1;
}

.middle3__col4 h3 {
  font-family: Sahitya;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 19px;
  line-height: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

@media (max-width: 63.9375em) {
  .middle3__col4 {
    padding-left: 5px;
    padding-left: 0px;
  }
  .middle3__col4 h3 {
    text-align: center;
  }
}

.middle3__content {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 60.9375em) {
  .middle3__content {
    flex-direction: column;
  }
}

.middle3__soft {
  padding: 33px;
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #265369 0%, #9eb4bf 97.92%);
  border-radius: 25px;
  margin-bottom: 11px;
  margin-right: 11px;
  flex-direction: column;
  align-content: stretch;
}

@media (min-width: 64em) {
  .middle3__soft {
    flex: 1;
    flex-direction: row;
    align-content: flex-start;
  }
}

@media (min-width: 64em) {
  .middle3__soft {
    flex: 2;
  }
}

@media (min-width: 87.5em) {
  .middle3__soft {
    flex: 3;
  }
}

.middle3__lang {
  flex: 1;
  background: linear-gradient(180deg, #265369 0%, #9eb4bf 97.92%);
  border-radius: 25px;
  margin-bottom: 11px;
  margin-right: 11px;
}

.middle3__title1 {
  flex-direction: row;
  display: inline-flex;
  flex: 3;
  flex-wrap: nowrap;
}

@media (max-width: 63.9375em) {
  .middle3__title1 {
    flex: 1;
    justify-content: center;
  }
  .middle3__title1 img {
    height: 0;
    width: 0;
  }
}

.middle3__title2 {
  flex-direction: row;
  display: inline-flex;
  flex: 1;
  flex-wrap: nowrap;
}

@media (max-width: 63.9375em) {
  .middle3__title2 {
    justify-content: center;
  }
  .middle3__title2 img {
    height: 0;
    width: 0;
  }
}

.middle3__title-container {
  flex-wrap: wrap;
}

.middle3__title-container h1 {
  font-family: Sahitya;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 56px;
  line-height: 46px;
  color: #16394a;
  padding-bottom: 30px;
  padding-top: 19px;
  padding-left: 20px;
}

@media (max-width: 63.9375em) {
  .middle3__title-container h1 {
    font-size: 36px;
  }
}

@media (max-width: 63.9375em) and (max-width: 60.9375em) {
  .middle3__title-container h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 0px;
  }
}

.middle3__title-container h1:hover {
  color: #000000;
  font-weight: bolder;
}

.middle3__title-container h1:hover::before {
  opacity: 1;
}

.middle3__bButton-container {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  padding: 1%;
  justify-content: flex-end;
}

@media (max-width: 60.9375em) {
  .middle3__bButton-container {
    justify-content: center;
  }
}

.middle3__bButton {
  font-family: "Sahitya", serif;
  color: black;
  font-weight: bold;
  padding: 5px 29px;
  border-radius: 50px;
  background: linear-gradient(to right, #f5f5f5, #E83556);
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 0 !important;
  font-size: 0.875rem;
}

@media (min-width: 61em) {
  .middle3__bButton {
    font-size: 1.25rem;
    padding: 17px 43px;
  }
}

.middle3__bButton:hover {
  color: #07071a;
  background: linear-gradient(to right, #0ce4f3, #f5f5f5);
}
