.middle4 {
  padding: 4px;
  /*
  =============== 
  Modal
  ===============
  */
}

@media (min-width: 64em) {
  .middle4 {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.middle4 img {
  height: 100%;
  width: 157px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1%;
  margin: 1%;
}

.middle4 img:hover {
  box-shadow: 0 5px 15px rgba(209, 69, 116, 0.555);
  opacity: 50%;
  background-color: #350d0d;
}

.middle4 .modal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.836);
  transition: all 0.3s linear;
  opacity: 0;
  min-height: 100vh;
  overflow: scroll;
}

.middle4 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle4 .open {
  opacity: 1;
  z-index: 999;
}

.middle4 .main-img {
  width: 29%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 4%;
}

@media (max-width: 87.4375em) {
  .middle4 .main-img {
    margin-top: 30%;
  }
}

@media (max-width: 63.9375em) {
  .middle4 .main-img {
    margin-top: 28%;
  }
}

@media (max-width: 60.9375em) {
  .middle4 .main-img {
    margin-top: 15%;
    width: 25%;
  }
}

@media (max-width: 51.1333em) {
  .middle4 .main-img {
    margin-top: 23%;
    width: 67%;
  }
}

@media (max-width: 19.99em) {
  .middle4 .main-img {
    margin-top: 7%;
    width: 100%;
  }
}

.middle4 .modal-img {
  padding: 1px;
  width: 3%;
  height: auto;
}

@media (max-width: 51.1333em) {
  .middle4 .modal-img {
    width: 20px;
  }
}

.middle4 .image-name {
  position: absolute;
  text-align: center;
  color: #fda5a5;
  font-size: 40px;
}

@media (max-width: 87.4375em) {
  .middle4 .image-name {
    font-size: 35px;
  }
}

@media (max-width: 63.9375em) {
  .middle4 .image-name {
    font-size: 30px;
  }
}

@media (max-width: 60.9375em) {
  .middle4 .image-name {
    font-size: 25px;
  }
}

@media (max-width: 51.1333em) {
  .middle4 .image-name {
    font-size: 20px;
  }
}

@media (max-width: 19.99em) {
  .middle4 .image-name {
    font-size: 17px;
  }
}

.middle4 .innerBox {
  position: absolute;
  top: 138px;
  z-index: -1;
}

@media (max-width: 63.9375em) {
  .middle4 .innerBox {
    bottom: 35%;
  }
}

@media (max-width: 51.1333em) {
  .middle4 .innerBox {
    bottom: 46%;
  }
}

.middle4 .modal-images {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.middle4 .modal-img.selected {
  box-shadow: 0 5px 15px rgba(209, 69, 116, 0.555);
}

.middle4 .modal-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.middle4 .close-btn {
  position: absolute;
  top: 1rem;
  right: 5%;
  font-size: 5rem;
  color: #fff;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

@media (max-width: 51.1333em) {
  .middle4 .close-btn {
    font-size: 2rem;
    font-size: 2rem;
  }
}

.middle4 .next-btn,
.middle4 .prev-btn {
  position: absolute;
  background: transparent;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  font-size: 6rem;
  position: absolute;
  top: 600px;
  z-index: 0;
}

@media (max-width: 63.9375em) {
  .middle4 .next-btn,
.middle4 .prev-btn {
    top: 300px;
    font-size: 3rem;
  }
}

@media (max-width: 51.1333em) {
  .middle4 .next-btn,
.middle4 .prev-btn {
    top: 300px;
    font-size: 3rem;
  }
}

.middle4 .prev-btn {
  left: 6.5rem;
}

@media (max-width: 87.4375em) {
  .middle4 .prev-btn {
    left: 5.5rem;
  }
}

@media (max-width: 63.9375em) {
  .middle4 .prev-btn {
    left: 3.0rem;
  }
}

@media (max-width: 60.9375em) {
  .middle4 .prev-btn {
    left: 2.5rem;
  }
}

@media (max-width: 51.1333em) {
  .middle4 .prev-btn {
    left: 2rem;
  }
}

@media (max-width: 19.99em) {
  .middle4 .prev-btn {
    left: 2rem;
  }
}

.middle4 .next-btn {
  right: 6.5rem;
}

@media (max-width: 87.4375em) {
  .middle4 .next-btn {
    right: 5.5rem;
  }
}

@media (max-width: 63.9375em) {
  .middle4 .next-btn {
    right: 3.0rem;
  }
}

@media (max-width: 60.9375em) {
  .middle4 .next-btn {
    right: 2.5rem;
  }
}

@media (max-width: 51.1333em) {
  .middle4 .next-btn {
    right: 2rem;
  }
}

@media (max-width: 19.99em) {
  .middle4 .next-btn {
    right: 2rem;
  }
}

.middle4 .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle4__images {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10%;
}

.middle4__text {
  padding: 50px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0px;
  font-size: 10px;
  color: grey;
  font-family: "Ruda", sans-serif;
}

@media (min-width: 64em) {
  .middle4__text {
    padding-top: 2%;
    padding-bottom: 0px;
    padding: 80px;
    font-size: 28px;
  }
}

.middle4__bButton-container {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  padding: 1%;
  justify-content: flex-end;
}

@media (max-width: 60.9375em) {
  .middle4__bButton-container {
    justify-content: center;
  }
}

.middle4__bButton {
  font-family: "Sahitya", serif;
  color: black;
  font-weight: bold;
  padding: 5px 29px;
  border-radius: 50px;
  background: linear-gradient(to right, #f5f5f5, #E83556);
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 0 !important;
  font-size: 0.875rem;
  margin-bottom: 20px;
}

@media (min-width: 61em) {
  .middle4__bButton {
    font-size: 1.25rem;
    padding: 17px 43px;
  }
}

.middle4__bButton:hover {
  color: #0b0bc2;
  background: linear-gradient(to right, #0ce4f3, #f5f5f5);
}
