@import "variables"; 
@import "mixins"; 
.middle4 {
  padding: 4px;
  @include breakpoint-up(large){
    padding:40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img {
    // width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 15rem;
    
    &:hover {
      box-shadow: 0 5px 15px rgba(209, 69, 116, 0.555);
    }
    
  }
  
  /*
  =============== 
  Modal
  ===============
  */

  .modal {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.836);
    transition: all 0.3s linear;
    opacity: 0;
    min-height: 100vh;
    overflow: scroll;
    
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .open {
    opacity: 1;
    z-index: 999;
    // overflow: hidden;
  }
  .main-img {
    width: 29%; 
    height: auto;
    // padding: 1%;
    margin-top: 3%;
    margin-bottom: 4%;
    
    @include breakpoint-down(large){
      margin-top: 30%;
    }
    @include breakpoint-down(medium){
      margin-top: 28%;
    }
    @include breakpoint-down(middle){
      margin-top: 15%;
      width: 25%;
    }
    @include breakpoint-down(small){
      margin-top: 23%;
      width: 67%;
    }
    @include breakpoint-down(xsmall){
      margin-top: 7%;
      width: 100%;
    }
  }
  .modal-img {
    padding: 1px;
    width: 3%;
    height: auto;

    @include breakpoint-down(small){
      width: 20px;
    }
    
  }
  .image-name {
    position: absolute;
    text-align: center;
    color: #fda5a5;

    // margin: 2rem 0 3rem;
    font-size: 40px;
    
    @include breakpoint-down(large){
      font-size: 35px;
    }
    @include breakpoint-down(medium){
      font-size: 30px;
    }
    @include breakpoint-down(middle){
      font-size: 25px;
    }
    @include breakpoint-down(small){
      font-size: 20px;
    }
    @include breakpoint-down(xsmall){
      font-size: 17px;
    }

  }
  .innerBox{
    position: absolute;
    top: 138px;
    z-index: -1;

    @include breakpoint-down(medium){
      bottom: 35%;
    }
    @include breakpoint-down(small){
      bottom: 46%;
    }
  }
  .modal-images {
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

  }
  .modal-img.selected {
    box-shadow: 0 5px 15px rgba(209, 69, 116, 0.555);
    
  }
  .modal-content {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: center;
   
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 5%;
    font-size: 5rem;
    color: #fff;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    @include breakpoint-down(small){
      font-size: 2rem;
      font-size: 2rem;
    }
  }
  .next-btn,
  .prev-btn {
    position:absolute;

    // transform: translateY(-50%);
    background: transparent;
    
    color: #fff;
    border-color: transparent;
    cursor: pointer;
  
    font-size: 6rem;
    
    position: absolute;
    top: 600px;
    z-index: 0;

    @include breakpoint-down(medium){
      top: 300px;
      font-size: 3rem;
    }
    @include breakpoint-down(small){
      top: 300px;
      font-size: 3rem;
    }
    
  }
  .prev-btn {
    left: 6.5rem;
    @include breakpoint-down(large){
      left: 5.5rem;
    }
    @include breakpoint-down(medium){
      left: 3.0rem;
    }
    @include breakpoint-down(middle){
      left: 2.5rem;
    }
    @include breakpoint-down(small){
      left: 2rem;
    }
    @include breakpoint-down(xsmall){
      left: 2rem;
    }
  }
  .next-btn {
    right: 6.5rem;
    @include breakpoint-down(large){
      right: 5.5rem;
    }
    @include breakpoint-down(medium){
      right: 3.0rem;
    }
    @include breakpoint-down(middle){
      right: 2.5rem;
    }
    @include breakpoint-down(small){
      right: 2rem;
    }
    @include breakpoint-down(xsmall){
      right: 2rem;
    }
  }
  .img {
    width: 250px;
    height: fit-content;
    padding: 1%;
    margin: 1%;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // height: 120px;
    // width: 100%;
  }
  &__images {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10%;
    
  }
  &__text {
    @include breakpoint-up(large){
      padding-top: 2%;
      padding-bottom: 0px;
      padding: 80px;
      font-size: 28px;
    }
    padding: 50px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0px;
    font-size: 10px;
    color: grey;
    font-family: $bodyFont;
  }


    //button to GO BACK 
    &__bButton-container {
      flex: 1;
      flex-wrap: wrap;
      display: flex;
      padding: 1%;
      justify-content: flex-end;
      @include breakpoint-down(middle){
        justify-content: center;
      }
    }
    &__bButton {
      font-family: $nameFont;
      color: black;
      font-weight: bold;
      padding: 5px 29px;
      border-radius: 50px;
      background: linear-gradient(to right, #f5f5f5, #E83556);
      box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
      cursor: pointer;
      border: 0 !important;
      font-size: $font-sm;
      margin-bottom: 20px;

      @include breakpoint-up(medium){
        font-size: $font-med;
        padding: 17px 43px;
        
      }
    }
    &__bButton:hover {
      color: rgb(11, 11, 194);
      background: linear-gradient(to right, #0ce4f3, #f5f5f5);
    }



}

  