body {
  background-color: #9eb4bf;
}

.middle2 {
  padding: 25px;
  padding-top: 60px;
}

.middle2__project {
  padding-top: 26px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
}

@media (min-width: 64em) {
  .middle2__project {
    flex-wrap: nowrap;
    flex-flow: row;
  }
}

.middle2__text-container {
  flex: 1;
  padding: 5%;
  padding-bottom: 20px;
  padding-top: 0px;
}

.middle2__text-container h3 {
  text-align: justify;
  hyphens: auto;
  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.57);
  padding-bottom: 15px;
}

@media (max-width: 60.9375em) {
  .middle2__text-container h3 {
    font-size: 15px;
    line-height: 20px;
  }
}

.middle2__text-container h1 {
  font-family: Sahitya;
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 46px;
  color: rgba(53, 26, 26, 0.55);
  text-align: left;
  padding-bottom: 30px;
}

@media (max-width: 63.9375em) {
  .middle2__text-container h1 {
    font-size: 53px;
    line-height: 46px;
    padding-bottom: 30px;
    text-align: center;
  }
}

.middle2__button {
  font-family: "Sahitya", serif;
  margin-top: 25px;
  margin-bottom: 17px;
  color: #FEFEF9;
  padding: 5px 29px;
  border-radius: 50px;
  background: linear-gradient(to right, #0b3d55cf, #082331);
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 0 !important;
  font-size: 0.875rem;
}

@media (max-width: 63.9375em) {
  .middle2__button {
    display: block;
    margin: auto;
  }
}

@media (min-width: 61em) {
  .middle2__button {
    font-size: 1.25rem;
    padding: 17px 43px;
  }
}

.middle2__line {
  background: url("/images/line.png") no-repeat center;
  border: none;
  height: 68px;
}

.middle2__video iframe {
  width: auto;
  height: 315px;
  border-radius: 25px;
  border-style: none;
}

@media (min-width: 51.2em) {
  .middle2__video iframe {
    width: 600px;
    height: 315px;
  }
}

@media (min-width: 64em) {
  .middle2__video {
    flex: 1;
    flex-wrap: nowrap;
    margin: auto;
  }
  .middle2__video iframe {
    width: 100%;
  }
}

.middle2__buttons {
  margin-bottom: 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.middle2__filter-btn {
  background: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0.5rem 0.5rem;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Quattrocento", serif;
  box-shadow: 8px 8px 8px -3px rgba(0, 0, 0, 0.25);
}

.middle2__filter-btn:hover {
  background: #0b3d55cf;
  color: white;
}
