
$footerFont: 'M PLUS Rounded 1c', sans-serif;
$positionFont: 'Podkova', serif;
$helloFont: 'PT Serif', serif;
$linkFont: 'Quattrocento', serif;
$bodyFont: 'Ruda', sans-serif;
$nameFont: 'Sahitya', serif;

//colours used 
// $pink:#e83556cf; 
$pink:#0b3d55cf; 
$white:#FEFEF9; 
$green:#D1C926; 
$blue: #61D0D4; 
$darkGrey: #000000; 
$darkerGrey: #4D4D4D; 
$black:#000000; 
// $background:#EAE5E5;
$background:#9eb4bf; 
$beige: #FAFAFA; 

//fonts used (px/16-->rem) 
$font-sm: 0.875rem; //14
$font-med: 1.25rem; //20
$font-lrg: 1.5625rem; //25
$font-xlrg: 3.75rem; //60
$font-xxlrg: 7.375rem; //118