@import "variables"; 
@import "mixins";
@import "animations";

@import "globals"; 
@import "header"; 

@import "middle1";
@import "middle2";
@import "middle3";
@import "middle4";

@import "footer"; 

