.header {
  position: relative;
  z-index: 0;
}

.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}

.header .overlay {
  z-index: 2;
  opacity: 0;
  position: fixed;
  top: 100px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#000000, transparent);
}

.header__container {
  margin-top: -19px;
}

@media (min-width: 64em) {
  .header__container {
    height: 160px;
  }
}

@media (max-width: 87.4375em) {
  .header__container {
    height: 200px;
  }
}

@media (max-width: 39.9375em) {
  .header__container {
    height: 109px;
  }
}

.header__name h1 {
  color: #FEFEF9;
  font-family: "Sahitya", serif;
}

@media (max-width: 63.9375em) {
  .header__name h1 {
    font-size: 2.375rem;
    padding-left: 26px;
    padding-top: 30px;
    line-height: 30px;
  }
}

@media (min-width: 51.2em) {
  .header__name h1 {
    font-size: 3.75rem;
    padding-left: 133px;
    padding-top: 37px;
    line-height: 43px;
  }
}

.header__position h3 {
  color: #FEFEF9;
  font-family: "Podkova", serif;
}

@media (max-width: 63.9375em) {
  .header__position h3 {
    font-size: 1rem;
    padding-left: 26px;
    padding-top: 10px;
    line-height: 10px;
  }
}

@media (min-width: 51.2em) {
  .header__position h3 {
    font-size: 1.5625rem;
    padding-left: 133px;
    padding-top: 34px;
    line-height: 15px;
  }
}

.header__toggle {
  position: relative;
  cursor: pointer;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #232302;
  transition: all 300ms ease-in-out;
  animation: bounce 1s ease-in-out infinite;
  transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 87.4375em) {
  .header__toggle {
    padding-top: 50px;
    padding-right: 110px;
  }
}

@media (max-width: 39.9375em) {
  .header__toggle {
    padding-top: 38px;
    padding-right: 40px;
  }
}

.header__menu {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #FEFEF9;
  margin-top: 10rem;
  padding: 24px;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #000000;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .header__menu {
    width: calc(100% - 17rem);
  }
}

@media (max-width: 39.9375em) {
  .header__menu {
    width: calc(100% - 5rem);
  }
}

.header__text h1 {
  font-family: "PT Serif", serif;
  color: #0F0D0DFA;
  padding-top: 177px;
  font-size: 62px;
  line-height: 60px;
  text-align: center;
}

.header__text h3 {
  font-family: "Sahitya", serif;
  color: #0F0D0DFA;
  padding-top: 33px;
  padding-bottom: 49px;
  font-size: 50px;
  line-height: 1px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media (min-width: 64em) {
  .header__links {
    display: block;
    margin: auto;
    line-height: 25px;
    padding-top: 0px;
    line-height: 60px;
    text-align: center;
    padding-bottom: 60px;
  }
}

.header__links a {
  position: relative;
  font-family: "Quattrocento", serif;
  font-size: 1.25rem;
  color: #000000;
  transition: color 300ms ease-in-out;
}

@media (min-width: 64em) {
  .header__links a:not(:last-child) {
    margin-right: 40px;
  }
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 6px;
  left: 0;
  right: 0;
  bottom: -8px;
  background: -webkit-gradient(linear, left top, right top, from(#D1C926), to(#61D0D4));
  background: linear-gradient(to right, #35063C, #188084DB);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bolder;
}

.header__links a:hover::before {
  opacity: 1;
}
